<div class="jumbotron">
    <div class="container" style="color:#000;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" [pattern]="namePattern" required />
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
							<div *ngIf="firstName.errors.required">First Name is required</div>
							<div *ngIf="firstName.errors.pattern">Only letters allowed</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" [pattern]="namePattern" required />
                        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
							<div *ngIf="lastName.errors.required">Last Name is required</div>
							<div *ngIf="lastName.errors.pattern">Only letters allowed</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" class="form-control" name="age" [(ngModel)]="model.age" #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" [pattern]="agePattern" maxlength="2" required />
                        <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                            <div *ngIf="age.errors.required">Age is required</div>
                            <div *ngIf="age.errors.pattern">Only digits allowed</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
		</div>
		<div class="row">
            <div class="col-md-6 offset-md-3">
				<span *ngIf="firstName.valid && lastName.valid">Hello {{model.firstName}} {{model.lastName}}!</span>
				<span>{{session}}</span>
			</div>
		</div>
    </div>
</div>