<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 style="color:#000; text-align: center;">{{user.firstName}} {{user.lastName}}'s Page</h3>
            </div>
		</div>
		<div class="row">
            <div class="col-md-6 offset-md-3" *ngIf="user.age>=18">
				<img class="img-fluid" src="https://placeimg.com/500/500/any">
            </div>
            <div class="col-md-6 offset-md-3" *ngIf="user.age<18">
                <div class="alert alert-danger" role="alert">
                    <span>You must be at least 18 years old!</span>
                </div>
			</div>
		</div>
    </div>
</div>