<app-nav></app-nav>
<main role="main"
 class="container">
	<router-outlet></router-outlet>
</main>
<footer>
	<div class="container">
		<p>Made with
			<i class="fa fa-heart"
			 aria-hidden="true"></i>️ by
			<strong>
				<a target="_blank"
				 rel="noopener"
				 href="https://www.linkedin.com/in/milad-ahmad-zai/">Milad Ahmad Zai</a>
			</strong></p>
	</div>
</footer>